/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  background-color: black;
  background-image: url("img/milky_way.jpg");
  background-size: cover;
  background-repeat: repeat-y
}

h1 {
  color: white;
  font-size: 50px;
  font-family: sans-serif;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

img {
  max-width:100%;
  max-height:100%
}
body {
  color: white;
  margin-left: 20px;
  font-size: 20px;
  font-family: sans-serif;
  padding-bottom: 100px;
}

#zipcode {
  font-size: 20px;
}

#zipButton {
  font-size: 15px;
}

#result {
  background-color: rgba(0,0,0,.5);
  position: relative;
  left-margin: 50px;
  right-margin: 50px;
  border: 5px transparent;
  border-radius: 20px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
